<div class="bg-blue-100 w-3/4 mx-auto mt-6 p-6">
  <h1 class="text-2xl">Directivas Personlizadas 01</h1>

  <div class="bg-yellow-200 p-6 my-4">
    <h2 class="text-xl">Directiva Estructural *ngIf</h2>

    <p class="text-slate-500">Veamos como funciona normalmente un *ngIf</p>

    <span class="block">Tenemos una variable llamada nombre el en archivo .ts</span>
    
    <label for="nombre" class="text-slate-600 block mt-4">Ingrese un nombre</label>
    
    <input type="text" name="nombre" class="px-4 py-1 mb-4" [(ngModel)]="nombre">
    
    <p class="">Esta ingresando el nombre de <span class="text-red-500">{{nombre}}</span></p>

    <div class="bg-black text-slate-400 p-6 rounded-lg my-2 border border-solid border-white drop-shadow-lg">
      <p *ngIf="nombre else bloque">SI HAY NOMBRE</p>

      <ng-template #bloque>
        NO HAY NOMBRE
      </ng-template>
    </div>
  </div>

  <div class="bg-yellow-200 p-6 my-4">
    <!--
      <ng-template *mostrarSi>
        <p>Este es un parrafo</p>
      </ng-template>
    -->
    <p *mostrarSi="false else other">Este es un parrafo que se muestra en TRUE</p>

    <ng-template #other>
      soy el otro template que se muestra en FALSE
    </ng-template>



    <div class="bg-black p-6 text-white">
      <p *mostrarSi="true else soyFalso">hola soy un nuevo ejemplo</p>
    </div>

    <ng-template #soyFalso>
      <p>salgo ahora yo si soy FALSE</p>
    </ng-template>


  </div>
</div>